/* Tipografías */
@import url('https://fonts.googleapis.com/css2?family=Acumin+Variable+Concept:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  /* Colores principales */
  --orange: #ff9126;
  --orange-light: #f8aa51f6;
  --orange-dark: #cc741e;

  --green-light: #9cbf3d;
  --green-light-lighter: #c6e073;
  --green-light-darker: #7a9b31;

  --green-dark: #54853b;
  --green-dark-lighter: #7ba55f;
  --green-dark-darker: #3d642d;

  /* Colores de texto */
  --text-primary: var(--green-dark);
  --text-secondary: var(--green-light);

  /* Colores de fondo */
  /* --bg-primary: var(--orange-light); */
  --bg-primary: var(--green-light);
  --bg-secondary: var(--orange-light);

  /* Tipografías */
  --font-primary: 'Acumin Variable Concept', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;

  /* Otros */
  --black-matte: #1c1c1c;
}

/* Estilos base */
body {
  font-family: var(--font-primary);
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  color: var(--text-primary);
}

p {
  font-family: var(--font-primary);
  color: var(--text-secondary);
}

/* Clases de colores principales */
.text-orange {
  color: var(--orange);
}

.text-orange-light {
  color: var(--orange-light);
}

.text-orange-dark {
  color: var(--orange-dark);
}

.text-green-light {
  color: var(--green-light);
}

.text-green-light-lighter {
  color: var(--green-light-lighter);
}

.text-green-light-darker {
  color: var(--green-light-darker);
}

.text-green-dark {
  color: #54853b9e !important;
}

.text-green-dark-lighter {
  color: var(--green-dark-lighter);
}

.text-green-dark-darker {
  color: var(--green-dark-darker);
}

/* Clases de colores de fondo */
.bg-orange {
  background-color: var(--orange);
}

.bg-orange-light {
  background-color: var(--orange-light);
}

.bg-orange-dark {
  background-color: var(--orange-dark);
}

.bg-green-light {
  background-color: var(--green-light);
}

.bg-green-light-lighter {
  background-color: var(--green-light-lighter);
}

.bg-green-light-darker {
  background-color: var(--green-light-darker);
}

.bg-green-dark {
  background-color: var(--green-dark);
}

.bg-green-dark-lighter {
  background-color: var(--green-dark-lighter);
}

.bg-green-dark-darker {
  background-color: var(--green-dark-darker);
}

.text-gray-ccc {
  color: #cccccc
}

/* Tipografías */
.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

/* Otros estilos */
.height-700 {
  height: 700px;
}

.width-100 {
  width: 100px;
}

.nav-item {
  margin-right: 2rem !important;
}

.nav-item:last-child {
  margin-right: 0 !important;
}

.nav-link:hover {
  color: var(--green-dark-lighter);
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  color: var(--green-light);
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing {
  background: transparent !important;
}

.height-100vh {
  height: 100vh;
}

.shadow-sm {
  box-shadow: 8px 34px 158px -49px rgba(198, 224, 115, 1) !important;
}

.shadow {
  box-shadow: 8px 34px 158px -100px rgba(198, 224, 115, 1) !important;
}

.text-black-matte {
  color: var(--black-matte);
}


.size-16px {
  font-size: 16px;
}

.size-26px {
  font-size: 26px;
}

.figure-image-services {
  display: flex;
  justify-content: center;
}

.figure-image-services img {
  object-fit: cover;
}

.image-services {
  margin-right: 10rem;
}

@media (max-width: 767px) {
  .image-services {
    margin-right: 0rem;
    border-radius: 0px;
    height: 260px;
  }
}

.margin-5rem-top-bottom {
  margin-top: 6.5rem;
  margin-bottom: 6.5rem;
}

.text-justify {
  text-align: justify;
}

.bg-black-matte {
  background-color: var(--black-matte);
}

.profile-card {
  background: transparent;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  position: relative;
  text-align: center;
  overflow: hidden;
  /* padding: 2rem; */
}

/* Header con fondo diagonal */
.profile-card .header {
  position: relative;
  z-index: 1;
  /* margin-top: 2rem; */
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card .header-transparent {
  background: linear-gradient(135deg, rgba(255, 255, 255, .68) 50%, transparent 50%) !important;
}

.profile-card .header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #fff;
  object-fit: cover;
  position: absolute;
  /* bottom: 0; */
  left: 50%;
  transform: translateX(-50%);
}

/* Contenido de la tarjeta */
.profile-card h2 {
  color: var(--green-dark) !important;
  font-size: 1.5rem;
  font-weight: bold;
  /* margin-top: 60px; */
  color: #333;
  z-index: 4;
}

.profile-card .position {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.profile-card .content {
  /* min-height: 340px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card .content ul {
  text-align: left;
  padding-left: 0;
  margin: 1rem;
}

.profile-card .content li {
  list-style: none;
  margin-bottom: 1rem;
  font-size: 0.95rem;
  color: #444;
}

.profile-card .content .fw-bold {
  color: #000;
}

.profile-card-container {
  background: #fff;
  min-height: 420px;
  max-height: 420px;
}

.container-contact {
  height: 1000px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.content-img-only {
  padding-left: 4rem;
  padding-right: 4rem;
}

@media (max-width: 767px) {
  .navbar-brand img {
    margin-left: 1rem !important;
  }

  .content-img-only {
    padding-left: 0;
    padding-right: 0;
  }

  .container-contact {
    background-position: center !important;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

.content-img-only img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*
padding: 0 !important;
width: 100%;
margin: 0 !important;
max-width: 100%; */

.content-banner-logo-only-mobile {
  display: flex;
}

.content-banner-logo {
  display: none;
}

@media (min-width: 900px) {
  .content-banner-logo-only-mobile {
    display: none;
  }

  .content-banner-logo {
    display: block;
  }
}

.btn-outline-green-dark {
  border: 2px solid var(--green-dark);
}

.btn-outline-green-dark:hover {
  border: 2px solid var(--green-dark);
}

.btn-contact-wsp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn-contact-wsp svg {
  position: absolute;
  left: 15px;
}

.padding-wsp {
  padding: 1rem;
}

@media (min-width: 767px) {
  .padding-wsp {
    padding: 3rem;
  }
}

.nav-link:hover {
  color: #9ac03f !important;
}

.hover-text-white:hover {
  color: #fff;
}
